In [1]:
import pandas as pd
import numpy as np
from os.path import join

In [2]:
data_folder = r"C:\Users\SukurovSB\Desktop\Guided_Research\guidedresearchproject-ShamilShukurov\data\original_datasets"

In [42]:
prep_data_folder = r"C:\Users\SukurovSB\Desktop\Guided_Research\guidedresearchproject-ShamilShukurov\data\saved_datasets"

# Letter-A

In [12]:
letter_a_orig = pd.read_csv(join(data_folder,"letter-recognition.data"), header=None, 
                            names= ['lettr','x-box','y-box','width','high ','onpix','x-bar','y-bar','x2bar','y2bar',
                                    'xybar','x2ybr','xy2br','x-ege','xegvy','y-ege','yegvx'])

In [13]:
letter_a_orig

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [20]:
letter_a_orig["letter_a"]=0
letter_a_orig.loc[letter_a_orig.lettr=='A',"letter_a"]=1

In [23]:
#class distribution
100*letter_a_orig.letter_a.value_counts()/letter_a_orig.shape[0]

0    96.055
1     3.945
Name: letter_a, dtype: float64

In [25]:
letter_a = letter_a_orig.drop(columns="lettr")

In [26]:
letter_a

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,letter_a
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,0
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,0
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,0
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,0
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,0
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,0
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,0
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,0
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,1

In [43]:
letter_a.to_csv(join(prep_data_folder,"letter_a.csv"))

# Letter Vowel

In [34]:
letter_a_orig.lettr.unique()

array(['T', 'I', 'D', 'N', 'G', 'S', 'B', 'A', 'J', 'M', 'X', 'O', 'R',
       'F', 'C', 'H', 'W', 'L', 'P', 'E', 'V', 'Y', 'Q', 'U', 'K', 'Z'],
      dtype=object)

In [36]:
letter_a_orig["is_vowel"]=0
letter_a_orig.loc[letter_a_orig.lettr.isin(['A','E','I','O','U']),"is_vowel"]=1

In [38]:
#class distribution
100*letter_a_orig.is_vowel.value_counts()/letter_a_orig.shape[0]

0    80.61
1    19.39
Name: is_vowel, dtype: float64

In [40]:
letter_vowel = letter_a_orig.drop(columns=["lettr","letter_a"])

In [41]:
letter_vowel

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,is_vowel
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,0
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,1
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,0
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,0
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,0
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,0
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,0
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,0
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,1

In [44]:
letter_vowel.to_csv(join(prep_data_folder,"letter_vowel.csv"))

# Pendigits

In [73]:
pendigits_orig_test = pd.read_csv(join(data_folder,"pendigits.tes"),header=None,
                            names=['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','target'])
pendigits_orig_train = pd.read_csv(join(data_folder,"pendigits.tra"),header=None,
                            names=['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','target'])

pendigits_orig = pd.concat([pendigits_orig_train,pendigits_orig_test])

In [75]:
100*pendigits_orig.target.value_counts()/pendigits_orig.shape[0]

2    10.407569
4    10.407569
1    10.398472
0    10.398472
7    10.389374
6     9.606987
8     9.597889
5     9.597889
9     9.597889
3     9.597889
Name: target, dtype: float64

In [76]:
pendigits_orig["is_9"]=0
pendigits_orig.loc[pendigits_orig.target==9,"is_9"]=1

In [77]:
pendigits_orig

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,target,is_9
47,100,27,81,57,37,26,0,0,23,56,53,100,90,40,98,8,0
0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6,2,0
0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0,1,0
0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0,4,0
0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,100,24,70,0,38,49,33,95,47,87,55,96,21,100,0,4,0
16,75,41,100,52,64,32,27,0,0,21,9,62,2,100,14,2,0
56,100,27,79,0,39,12,0,66,15,100,51,93,93,38,93,0,0
19,100,0,61,3,23,48,0,97,27,100,66,62,97,10,81,0,0
38,100,37,81,12,55,0,28,52,27,100,42,86,26,65,0,4,0

In [78]:
#class distribution
100*pendigits_orig.is_9.value_counts()/pendigits_orig.shape[0]

0    90.402111
1     9.597889
Name: is_9, dtype: float64

In [81]:
pendigits = pendigits_orig.drop(columns="target")

In [82]:
pendigits

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,is_9
47,100,27,81,57,37,26,0,0,23,56,53,100,90,40,98,0
0,89,27,100,42,75,29,45,15,15,37,0,69,2,100,6,0
0,57,31,68,72,90,100,100,76,75,50,51,28,25,16,0,0
0,100,7,92,5,68,19,45,86,34,100,45,74,23,67,0,0
0,67,49,83,100,100,81,80,60,60,40,40,33,20,47,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,100,24,70,0,38,49,33,95,47,87,55,96,21,100,0,0
16,75,41,100,52,64,32,27,0,0,21,9,62,2,100,14,0
56,100,27,79,0,39,12,0,66,15,100,51,93,93,38,93,0
19,100,0,61,3,23,48,0,97,27,100,66,62,97,10,81,0
38,100,37,81,12,55,0,28,52,27,100,42,86,26,65,0,0

In [83]:
pendigits.to_csv(join(prep_data_folder,"pendigits.csv"))

# Abalone

In [84]:
abalone = pd.read_csv(join(data_folder,"abalone.data"), header=None, 
                            names= ['Sex','Length','Diameter','Height','Whole weight','Shucked weight',
                                    'Viscera weight','Shell weight','Rings'])

In [85]:
abalone

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [86]:
100*abalone.Rings.value_counts()/abalone.shape[0]

9     16.495092
10    15.178358
8     13.598276
11    11.659085
7      9.360785
12     6.392147
6      6.200622
13     4.859947
14     3.016519
5      2.753172
15     2.465885
16     1.604022
17     1.388556
4      1.364616
18     1.005506
19     0.766100
20     0.622456
3      0.359109
21     0.335169
23     0.215466
22     0.143644
27     0.047881
24     0.047881
1      0.023941
26     0.023941
29     0.023941
2      0.023941
25     0.023941
Name: Rings, dtype: float64